.App {
  text-align: center;
  background-color: #bcc7c1;
  height: 40rem;
}

nav {
  background-color: #dbb0b2;
}


h2 {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: #9a7e8b;
}